<!-- templates/rearm/home_features.html -->
 {% load static %}
 <div class="features-grid">
  <div class="feature-card fade-in-on-scroll hidden-section">
    <div class="feature-header">
      <div class="feature-icon">■</div>
      <h3>Industry Oriented</h3>
    </div>
    <p>Ecosystem support for food production</p>
  </div>
  
  <div class="feature-card fade-in-on-scroll hidden-section">
    <div class="feature-header">
      <div class="feature-icon">■</div>
      <h3>Sustainability</h3>
    </div>
    <p>We provide agricultural products for today's society around the world.</p>
  </div>
  
  <div class="feature-card fade-in-on-scroll hidden-section">
    <div class="feature-header">
      <div class="feature-icon">■</div>
      <h3>Product Guarantee</h3>
    </div>
    <p>We offer top notch products that are pure and natural.</p>
  </div>
  
  <div class="feature-card fade-in-on-scroll hidden-section">
    <div class="feature-header">
      <div class="feature-icon">■</div>
      <h3>Services</h3>
    </div>
    <p>Efficiently meeting your freight needs every time and anywhere in Nigeria.</p>
  </div>
</div>