<!-- templates/rearm/home_features.html -->
 {% load static %}
 
<div class="features-container">
    <div class="feature-card">
        <h3>Industry Oriented</h3>
        <p>Ecosystem support for food production</p>
    </div>
    
    <div class="feature-card">
        <h3>Sustainability</h3>
        <p>We provide agricultural products for today's society around the world.</p>
    </div>
    
    <div class="feature-card">
        <h3>Product Guarantee</h3>
        <p>We offer top notch products that are pure and natural.</p>
    </div>
    
    <div class="feature-card">
        <h3>Services</h3>
        <p>Efficiently meeting your freight needs every time and anywhere in Nigeria.</p>
    </div>
</div>